@import '~src/shared/ui/src/lib/styleGuides/global';

.application-body {
    display: flex;
    justify-content: center;

    > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: -#{$min-height-header};
        padding: 0 pixelToRem(36);

        > .grit-icon {
            font-size: pixelToRem(33);
            margin: 0 auto;
        }

        > h1 {
            @extend .uae-heading;
            // margin-bottom: pixelToRem(24);
            // font-size: pixelToRem(48);
            margin: pixelToRem(20) 0 pixelToRem(16) 0;
            text-align: center;
        }
        > p {
            @extend .uae-body-copy;
            margin-bottom: pixelToRem(8);
            text-align: center;
        }
    }
}
