<div class="application-body">
    <div>
        <grit-wc-icon>sentiment_very_dissatisfied</grit-wc-icon>
        <h1>{{ 'pages.applicationError.heading' | inlineTranslate:'en' | async }}</h1>
        <p>{{ 'pages.applicationError.bodyCopy' | inlineTranslate:'en' | async }}</p>
        <h1>{{ 'pages.applicationError.heading' | inlineTranslate:'es' | async }}</h1>
        <p>{{ 'pages.applicationError.bodyCopy' | inlineTranslate:'es' | async }}</p>
    </div>
</div>