@import '~src/shared/ui/src/lib/styleGuides/global';

.application-review {
    padding: pixelToRem(32) pixelToRem(16) pixelToRem(16) pixelToRem(16);

    &__headline {
        @extend .uae-heading;
        margin: 0 0 pixelToRem(8) 0;
    }

    &__bodyCopy {
        @extend .uae-body-copy;
        margin: 0 0 pixelToRem(8) 0;
    }

    &__section {
        border-top: solid pixelToRem(1) $neutral400 ;
        display: flex;
        padding: pixelToRem(16) 0;

        &:first-of-type {
            border: none;
        }

        > div {
            @extend .uae-body-copy;
            flex: 1 1 auto;
            font-size: pixelToRem(13);
            padding: 0 pixelToRem(16);

            > span {
                display: block;

                > span {
                    display: inline;
                }
            }

            > ul {
                margin-left: pixelToRem(12);
            }
        }
    }

    &__section-icon {
        align-self: flex-start;
        color: $neutral600;
        display: flex;
        line-height: pixelToRem(19.5);
    }

    &__section-headline {
        @extend .uae-heading;
        font-size: pixelToRem(13);
        line-height: pixelToRem(19.5);
        margin-bottom: pixelToRem(4.5);
    }

    &__section-updateLabel {
        @extend .uae-body-copy;
        align-self: flex-start;
        background-color: $neutral100;
        border: none;
        color: $blue500;
        cursor: pointer;
        display: flex;
        font-size: pixelToRem(13);
        margin-right: pixelToRem(16);
        text-decoration: underline;
    }

    &__nextLabel {
        margin-top: pixelToRem(10);
    }
}