<div class="loader">
  <pg-linear-loader>
    <pg-linear-loader-message duration="2">
      {{ 'commonContent.submissionLoaderMessages.processing' | translate }}
    </pg-linear-loader-message>
    <pg-linear-loader-message duration="4">
      {{ 'commonContent.submissionLoaderMessages.submitting' | translate }}
    </pg-linear-loader-message>
    <pg-linear-loader-message>
      {{ 'commonContent.submissionLoaderMessages.results' | translate }}
    </pg-linear-loader-message>
  </pg-linear-loader>
</div>