@import '~src/shared/ui/src/lib/styleGuides/global';

.loader {
    align-items: center;
    display: flex;
    margin-top: -#{$min-height-header};
    min-height: calc(#{$min-height} - #{$min-height-header});
    padding: 0 pixelToRem(18);

    .grit-progress-bar, .pg-progress-bar {
        width: 100%;
        
        ::ng-deep {
            .pg-loader-container, .grit-loader-container, .message {
                margin-top: 0;
            }

            .pg-load-bar-wrapper, .grit-load-bar-wrapper {
                background: $blue100 ;
            }
        }
    }
}