$unitPixelPerRem: 16;

// use consistent rem for spacing.
@function space($coefficient) {
  // 1rem = 16px because by default the html font-size is 16px.
  $remSize: $coefficient * 0.5;
  @return #{$remSize}rem;
}

@function pixelToRem($pixel) {
  $remSize: $pixel / $unitPixelPerRem;
  @return #{$remSize}rem;
}
