@import '~@progleasing/grit-core/styles/variables';
@import '../../styleGuides/global';

.application-header {
  background-color: $neutral100;
  box-shadow: 0 0 pixelToRem(1) 0 rgba(33, 43, 54, 0.16),
    0 pixelToRem(1) pixelToRem(1) 0 rgba(33, 43, 54, 0.16);
  color: $neutral900;
  display: flex;
  left: 0;
  min-height: $min-height-header;
  padding: 0 pixelToRem(16);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2147483647;

  &__previous-control {
    align-self: center;
    cursor: pointer;
    display: flex;
  }

  &__branding {
    align-self: center;
    cursor: pointer;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
  }

  &__exit-control {
    align-self: center;
    cursor: pointer;
    display: flex;
  }
}
