<ua-header (back)="onBack()"
           (closeApp)="onClose()"
           (logoClick)="onLogoClick()"></ua-header>
<main class="application-body">
  <router-outlet></router-outlet>
</main>

<ua-footer (changeLanguage)="onLanguageChange($event)"
           [currentLocalization$]="currentLocalization$"></ua-footer>
<ua-timeout-prompt (interruptIdle)="onInterruptIdle($event)"></ua-timeout-prompt>