<div class="landing-page">
  <h1 class="landing-page__headline">{{ 'pages.getStarted.heading' | translate }}</h1>
  <div class="landing-page__bodyCopy">
{{ 'pages.getStarted.bodyCopy' | translate }}
  </div>
  <ul class="landing-page__terms">
      <li *ngFor="let term of ('pages.getStarted.terms' | translate)"
          class="landing-page__term"
          [externalHtml]="term"></li>
    </ul>
  <button class="landing-page__beginApplicationLabel"
          color="primary"
          gritButton
          (click)="onContinue()">
    {{ 'pages.getStarted.beginApplicationLabel' | translate }}
  </button>
  <button class="landing-page__beginPaymentEstimatorLabel"
          color="primary-light"
          gritButton
          (click)="moveToPaymentEstimator()">
    {{ 'pages.getStarted.beginPaymentEstimatorLabel' | translate }}
  </button>
</div>