<div class="lease-decision"
     *ngIf="decisionStatus$ | async as status">
  <div class="lease-decision__heading">
    {{ 'pages.result.' + (status | lowercase) + '.heading' | translate }}
  </div>
  <div class="lease-decision__lease-summary lease-summary"
       [ngClass]="{
      'lease-summary--decision-approved':
        status === decisionStatus.approved,
      'lease-summary--decision-declined':
        status === decisionStatus.denied,
      'lease-summary--decision-pending':
        status === decisionStatus.pending,
      'lease-summary--decision-pre-approved':
        status === decisionStatus.preApproved,
      'lease-summary--decision-in-process':
        status === decisionStatus.inProcess,
      'lease-summary--decision-error':
        status === decisionStatus.error
    }">
    <div class="lease-summary__header">
      <div class="lease-summary__lease-status">
        {{ 'pages.result.' + (status | lowercase) + '.leaseSummary.leaseStatus' | translate }}
      </div>
      <div class="lease-summary__lease-id">
        {{ 'commonContent.leaseIdPrefix' | translate }}
        <strong>{{ leaseId }}</strong>
      </div>
    </div>
    <div class="lease-summary__heading"
         *ngIf="status === decisionStatus.approved"
         [innerHTML]="leaseHeading"></div>
    <div class="lease-summary__body-copy"
         [innerHTML]="'pages.result.' + (status | lowercase) + '.leaseSummary.bodyCopy' | translate"></div>
    <div class="lease-summary__merchant-address merchant-address"
         *ngIf="status === decisionStatus.approved && storeInformation">
      <grit-wc-icon class="merchant-address__icon">place</grit-wc-icon>
      <div>
        <span class="merchant-address__name">{{ storeInformation.name | lowercase }}</span>
        <span class="merchant-address__street-address">{{ storeInformation.address.address1 }}</span>
        <span class="merchant-address__secondary-address">{{ storeInformation.address.address2 }}</span>
        <span class="merchant-address__locality">
          {{ storeInformation.address.city }}, {{ storeInformation.address.state}} {{ storeInformation.address.zipCode
          }}</span>
      </div>
    </div>
  </div>
  <p class="lease-expiration-notice"
     *ngIf="status === decisionStatus.approved">
    {{ 'commonContent.leaseExpirationNotice' | translate }}
  </p>
  <div *ngIf="status === decisionStatus.approved"
       class="lease-decision__additional-instructions additional-instructions">
    <div class="additional-instructions__heading">
      {{ 'pages.result.' + (status | lowercase) + '.nextSteps.heading' | translate }}
    </div>
    <div class="additional-instructions__body-copy"
         [innerHtml]="'pages.result.' + (status | lowercase) + '.nextSteps.bodyCopy' | translate">
    </div>
  </div>
</div>