<ua-apply-page-template [formGroup]="initialPaymentForm"
                        [pageRoute]="pageRoute"
                        (continue)="onContinue()">
  <h1 class="apply-page__heading">{{ 'pages.paymentCardInformation.heading' | translate }} </h1>
  <div class="apply-page__body-copy">{{ 'pages.paymentCardInformation.bodyCopy' | translate }}</div>
  <div class="apply-page__form-controls">
    <form [formGroup]="initialPaymentForm">
      <fieldset>
        <legend>{{ 'pages.paymentCardInformation.form.paymentCard.legend' | translate }}</legend>
        <div class="row">
          <div class="col-sm-12">
            <grit-field size="sm">
              <label gritLabel>
                {{ 'pages.paymentCardInformation.form.paymentCard.firstName.label' | translate }}
              </label>
              <input gritInput
                     id="input-first-name"
                     #firstName="gritInput"
                     formControlName="firstName" />
              <grit-suffix-icons>
                <grit-icon gritSuffixIcon
                           id="input-first-name-number-icon-checkmark"
                           class="fg-green500"
                           [visible]="
                  !firstName.isFocused && firstName.value && !firstName.isError
                ">
                  done
                </grit-icon>
                <grit-icon gritSuffixIcon
                           id="input-first-name-icon-error"
                           class="fg-red500"
                           [visible]="firstName.isError">
                  warning
                </grit-icon>
              </grit-suffix-icons>
              <grit-subscript-messages>
                <span gritValidationErrorTracker
                      gritError
                      id="input-first-name-err-required"
                      for="required">{{ 'pages.paymentCardInformation.form.paymentCard.firstName.error.required' |
                  translate }}</span>
                <span gritValidationErrorTracker
                      gritError
                      id="input-first-name-err-required"
                      for="startsWithLetter">{{
                  'pages.paymentCardInformation.form.paymentCard.firstName.error.mustBeginWith' | translate }}</span>
                <span gritValidationErrorTracker
                      gritError
                      id="input-first-name-err-required"
                      for="nameFormat">{{ 'pages.paymentCardInformation.form.paymentCard.firstName.error.formatting' |
                  translate }}</span>
              </grit-subscript-messages>
            </grit-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <grit-field size="sm">
              <label gritLabel>
                {{ 'pages.paymentCardInformation.form.paymentCard.lastName.label' | translate }}
              </label>
              <input gritInput
                     id="input-last-name"
                     #lastName="gritInput"
                     formControlName="lastName" />
              <grit-suffix-icons>
                <grit-icon gritSuffixIcon
                           id="input-last-name-number-icon-checkmark"
                           class="fg-green500"
                           [visible]="
                  !lastName.isFocused && lastName.value && !lastName.isError
                ">
                  done
                </grit-icon>
                <grit-icon gritSuffixIcon
                           id="input-last-name-icon-error"
                           class="fg-red500"
                           [visible]="lastName.isError">
                  warning
                </grit-icon>
              </grit-suffix-icons>
              <grit-subscript-messages>
                <span gritValidationErrorTracker
                      gritError
                      id="input-last-name-err-required"
                      for="required">{{ 'pages.paymentCardInformation.form.paymentCard.lastName.error.required' |
                  translate }}</span>
                <span gritValidationErrorTracker
                      gritError
                      id="input-last-name-err-required"
                      for="startsWithLetter">{{
                  'pages.paymentCardInformation.form.paymentCard.lastName.error.mustBeginWith' | translate }}</span>
                <span gritValidationErrorTracker
                      gritError
                      id="input-last-name-err-required"
                      for="nameFormat">{{ 'pages.paymentCardInformation.form.paymentCard.lastName.error.formatting' |
                  translate }}</span>
              </grit-subscript-messages>
            </grit-field>
          </div>
        </div>
        <div class="row"
             *ngIf="!showFake">
          <div class="col-sm-12">
            <grit-field size="sm">
              <label gritLabel>
                {{ 'pages.paymentCardInformation.form.paymentCard.number.label' | translate }}
              </label>
              <input gritInput
                     id="input-card-number"
                     #ccNum
                     #cardNumber="gritInput"
                     formControlName="cardNumber"
                     (keypress)="disallowNonDigitInput($event)"
                     maxlength="16"
                     [secure]="isMasked"
                     pattern="[0-9]*"
                     inputmode="numeric" />
              <grit-prefix-icons [iconDisplayOption]="1">
                <grit-icon gritPrefixIcon>
                  payment
                </grit-icon>
              </grit-prefix-icons>
              <grit-suffix-icons>
                <grit-icon gritSuffixIcon
                           id="input-card-number-icon-checkmark"
                           class="fg-green500"
                           [visible]="
                  !cardNumber.isFocused &&
                  cardNumber.value &&
                  !cardNumber.isError
                ">
                  done
                </grit-icon>
                <grit-icon gritSuffixIcon
                           id="input-card-number-icon-show"
                           style="pointer-events: all;"
                           [visible]="cardNumber.value && !isMasked"
                           (click)="onMaskChanged(!isMasked)"
                           class="clickable">
                  visibility
                </grit-icon>
                <grit-icon gritSuffixIcon
                           id="input-card-number-icon-hide"
                           style="pointer-events: all;"
                           [visible]="cardNumber.value && isMasked"
                           (click)="onMaskChanged(!isMasked)"
                           class="clickable">
                  visibility_off
                </grit-icon>
                <grit-icon gritSuffixIcon
                           id="input-card-number-icon-error"
                           class="fg-red500"
                           [visible]="cardNumber.isError">
                  warning
                </grit-icon>
              </grit-suffix-icons>
              <grit-subscript-messages>
                <span gritValidationErrorTracker
                      gritError
                      id="input-card-number-err-required"
                      for="required">{{ 'pages.paymentCardInformation.form.paymentCard.number.error.required' |
                  translate }}</span>
                <span gritValidationErrorTracker
                      gritError
                      id="input-card-number-err-required"
                      for="creditCardInvalid">{{ 'pages.paymentCardInformation.form.paymentCard.number.error.invalid' |
                  translate }}</span>
                <span gritValidationErrorTracker
                      gritError
                      id="input-card-number-err-required"
                      for="creditCardFormatting">{{
                  'pages.paymentCardInformation.form.paymentCard.number.error.formatting' | translate }}</span>
                <span gritValidationErrorTracker
                      gritError
                      id="submit-card-error"
                      for="submitError">{{ 'pages.paymentCardInformation.form.paymentCard.number.error.submitError' |
                  translate }}</span>
              </grit-subscript-messages>
            </grit-field>
          </div>
        </div>
        <div class="row"
             *ngIf="showFake"
             (click)="startEditCardNumber()">
          <div class="col-sm-12">
            <grit-field size="sm">
              <label gritLabel>
                {{ 'pages.paymentCardInformation.form.paymentCard.number.label' | translate }}
              </label>
              <input gritInput
                     id="input-card-number"
                     #fakeCard="gritInput"
                     formControlName="fakeCard"
                     (keypress)="startEditCardNumber()"
                     (click)="startEditCardNumber()" />
              <grit-prefix-icons [iconDisplayOption]="1">
                <grit-icon gritPrefixIcon>
                  payment
                </grit-icon>
              </grit-prefix-icons>
              <grit-suffix-icons>
                <grit-icon gritSuffixIcon
                           id="input-card-number-icon-checkmark"
                           class="fg-green500"
                           [visible]="showFake">
                  done
                </grit-icon>
                <grit-icon gritSuffixIcon
                           id="input-card-number-icon-hide"
                           style="pointer-events: all;"
                           [visible]="showFake"
                           (click)="startEditCardNumber()"
                           class="clickable">
                  visibility_off
                </grit-icon>
              </grit-suffix-icons>
            </grit-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <grit-field size="sm">
              <label gritLabel>
                {{ 'pages.paymentCardInformation.form.paymentCard.expirationDate.label' | translate }}
              </label>
              <input gritInput
                     id="input-exp-date"
                     #expDate="gritInput"
                     formControlName="expDate"
                     [textMask]="{
                mask: expDateTextMask,
                placeholderChar: '\u2000',
                guide: false
              }"
                     pattern="[0-9/]*"
                     inputmode="numeric" />
              <grit-prefix-icons [iconDisplayOption]="1">
                <grit-icon gritPrefixIcon>
                  today
                </grit-icon>
              </grit-prefix-icons>
              <grit-suffix-icons>
                <grit-icon gritSuffixIcon
                           id="input-exp-date-icon-checkmark"
                           class="fg-green500"
                           [visible]="
                  !expDate.isFocused && expDate.value && !expDate.isError
                ">
                  done
                </grit-icon>
                <grit-icon gritSuffixIcon
                           id="input-exp-date-icon-error"
                           class="fg-red500"
                           [visible]="expDate.isError">
                  warning
                </grit-icon>
              </grit-suffix-icons>
              <grit-subscript-messages>
                <span gritValidationErrorTracker
                      gritError
                      id="input-exp-date-err-required"
                      for="required">{{ 'pages.paymentCardInformation.form.paymentCard.expirationDate.error.required' |
                  translate }}</span>
                <span gritValidationErrorTracker
                      gritError
                      id="input-exp-date-err-required"
                      for="invalidExpirationDate">{{
                  'pages.paymentCardInformation.form.paymentCard.expirationDate.error.invalid' | translate }}</span>
              </grit-subscript-messages>
            </grit-field>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>{{ 'pages.paymentCardInformation.form.billingAddress.legend' | translate }}</legend>
        <div class="row">
          <div class="col-sm-12">
            <grit-checkbox formControlName="sameAsShipping">
              {{ 'pages.paymentCardInformation.form.billingAddress.billingIsPrimary.label' | translate }}<br>
              {{ customer.address.address1 }}<br>
              <ng-container *ngIf="customer.address.address2">{{ customer.address.address2 }}<br></ng-container>
              {{ customer.address.city }}, {{ customer.address.state }} {{ customer.address.zip }}
            </grit-checkbox>
          </div>
        </div>
        <ng-container *ngIf="!initialPaymentForm.get('sameAsShipping').value">
          <div class="row">
            <div class="col-sm-12">
              <grit-field size="sm">
                <span gritLabel>
                  {{ 'pages.paymentCardInformation.form.billingAddress.address1.label' | translate }}
                </span>
                <input gritInput
                       data-test-id="street1-input"
                       id="street1-input"
                       formControlName="street1"
                       #street1="gritInput"
                       currencyFormat
                       maxlength="100"
                       autocomplete="off" />
                <grit-suffix-icons>
                  <grit-icon gritSuffixIcon
                             class="success"
                             [visible]="
                    !street1.isFocused && street1.value && !street1.isError
                  ">done</grit-icon>
                  <grit-icon gritSuffixIcon
                             [visible]="street1.isError"
                             class="error">warning</grit-icon>
                </grit-suffix-icons>
                <grit-subscript-messages>
                  <span gritValidationErrorTracker
                        gritError
                        id="street1-err-required"
                        for="required">
                    {{ 'pages.paymentCardInformation.form.billingAddress.address1.error.required' | translate }}
                  </span>
                  <span gritValidationErrorTracker
                        gritError
                        id="street1-err-poBox"
                        for="poBox">{{ 'pages.paymentCardInformation.form.billingAddress.address1.error.poBox' |
                    translate }}</span>
                  <span gritValidationErrorTracker
                        gritError
                        id="street1-err-mustNotBeginWith"
                        for="spaceFormat">
                    {{ 'pages.paymentCardInformation.form.billingAddress.address1.error.mustNotBeginWith' | translate }}
                  </span>
                  <span gritValidationErrorTracker
                        gritError
                        id="street1-err-formatting"
                        for="formatting">{{ 'pages.paymentCardInformation.form.billingAddress.address1.error.formatting'
                    | translate }}</span>
                </grit-subscript-messages>
              </grit-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <grit-field size="sm">
                <span gritLabel>
                  {{ 'pages.paymentCardInformation.form.billingAddress.address2.label' | translate }}
                </span>
                <input gritInput
                       data-test-id="street2-input"
                       id="street2-input"
                       formControlName="street2"
                       #street2="gritInput"
                       currencyFormat
                       autocomplete="off" />
                <grit-suffix-icons>
                  <grit-icon gritSuffixIcon
                             class="success"
                             [visible]="
                    !street2.isFocused && street2.value && !street2.isError
                  ">done</grit-icon>
                  <grit-icon gritSuffixIcon
                             [visible]="street2.isError"
                             class="error">warning</grit-icon>
                </grit-suffix-icons>
                <grit-subscript-messages>
                  <span gritValidationErrorTracker
                        gritError
                        id="street2-err-poBox"
                        for="poBox">
                    {{ 'pages.paymentCardInformation.form.billingAddress.address2.error.poBox' | translate }}
                  </span>
                  <span gritValidationErrorTracker
                        gritError
                        id="street2-err-mustNotBeginWith"
                        for="spaceFormat">
                    {{'pages.paymentCardInformation.form.billingAddress.address2.error.mustNotBeginWith' | translate }}
                  </span>
                  <span gritValidationErrorTracker
                        gritError
                        id="street2-err-formatting"
                        for="formatting">
                    {{'pages.paymentCardInformation.form.billingAddress.address2.error.formatting' | translate }}
                  </span>
                </grit-subscript-messages>
              </grit-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <grit-field size="sm">
                <span gritLabel>
                  {{ 'pages.paymentCardInformation.form.billingAddress.city.label' | translate }}
                </span>
                <input gritInput
                       data-test-id="city-input"
                       id="city-input"
                       formControlName="city"
                       #city="gritInput"
                       currencyFormat
                       maxlength="100"
                       autocomplete="off" />
                <grit-suffix-icons>
                  <grit-icon gritSuffixIcon
                             class="success"
                             [visible]="!city.isFocused && city.value && !city.isError">
                    done
                  </grit-icon>
                  <grit-icon gritSuffixIcon
                             [visible]="city.isError"
                             class="error">warning</grit-icon>
                </grit-suffix-icons>
                <grit-subscript-messages>
                  <span gritValidationErrorTracker
                        gritError
                        id="city-err-required"
                        for="required">{{ 'pages.paymentCardInformation.form.billingAddress.city.error.required' |
                    translate }}</span>
                  <span gritValidationErrorTracker
                        gritError
                        id="city-err-formatting"
                        for="specialChar">{{ 'pages.paymentCardInformation.form.billingAddress.city.error.formatting' |
                    translate }}</span>
                  <span gritValidationErrorTracker
                        gritError
                        id="city-err-numbers"
                        for="number">{{ 'pages.paymentCardInformation.form.billingAddress.city.error.numbers' |
                    translate }}</span>
                  <span gritValidationErrorTracker
                        gritError
                        id="city-err-mustNotBeginWith"
                        for="spaceFormat">{{
                    'pages.paymentCardInformation.form.billingAddress.city.error.mustNotBeginWith' | translate }}</span>
                </grit-subscript-messages>
              </grit-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <grit-field size="sm">
                <span gritLabel>
                  {{ 'pages.paymentCardInformation.form.billingAddress.state.label' | translate }}
                </span>
                <input gritInput
                       data-test-id="state-input"
                       id="state-input"
                       formControlName="state"
                       #state="gritInput"
                       autocomplete="off" />
                <grit-field-bottom-border-gap>
                  <grit-drop-down #stateComponent>
                    <span gritDropDownItem
                          *ngFor="let state of stateOptions"
                          value="{{ state.value }}"
                          id="{{ state.value }}"
                          [searchableTerms]="state.searchTerms">
                      {{ state.display }}
                    </span>
                  </grit-drop-down>
                </grit-field-bottom-border-gap>
                <grit-suffix-icons>
                  <grit-icon gritSuffixIcon
                             class="success"
                             [visible]="!state.isFocused && state.value && !state.isError">
                    done
                  </grit-icon>
                  <grit-icon gritSuffixIcon
                             [visible]="state.isError"
                             class="error">warning</grit-icon>
                </grit-suffix-icons>
                <grit-subscript-messages>
                  <span gritValidationErrorTracker
                        gritError
                        id="state-err-required"
                        for="required">{{ 'pages.paymentCardInformation.form.billingAddress.state.error.required' |
                    translate }}</span>
                  <span gritValidationErrorTracker
                        gritError
                        id="state-err-unavailable"
                        for="leasingUnavailable">
                    {{ 'pages.paymentCardInformation.form.billingAddress.state.error.leasingUnavailable' | translate }}
                  </span>
                  <span gritValidationErrorTracker
                        gritError
                        id="state-err-shippingUnavailable"
                        for="shippingUnavailable">
                    {{ 'pages.paymentCardInformation.form.billingAddress.state.error.shippingUnavailable' | translate }}
                  </span>
                  <span gritValidationErrorTracker
                        gritError
                        id="state-err-mustNotBeginWith"
                        for="spaceFormat">
                    {{ 'pages.paymentCardInformation.form.billingAddress.state.error.mustNotBeginWith' | translate }}
                  </span>
                  <span gritValidationErrorTracker
                        gritError
                        id="state-err-invalid"
                        for="selection">{{ 'pages.paymentCardInformation.form.billingAddress.state.error.invalid' |
                    translate }}</span>
                </grit-subscript-messages>
              </grit-field>
            </div>
            <div class="col-sm-6">
              <grit-field size="sm">
                <span gritLabel>
                  {{ 'pages.paymentCardInformation.form.billingAddress.zip.label' | translate }}
                </span>
                <input gritInput
                       data-test-id="zip-input"
                       id="zip-input"
                       formControlName="zip"
                       #zip="gritInput"
                       currencyFormat
                       maxlength="10"
                       autocomplete="off"
                       pattern="[0-9-]*"
                       inputmode="numeric" />
                <grit-suffix-icons>
                  <grit-icon gritSuffixIcon
                             class="success"
                             [visible]="!zip.isFocused && zip.value && !zip.isError">
                    done
                  </grit-icon>
                  <grit-icon gritSuffixIcon
                             [visible]="zip.isError"
                             class="error">warning</grit-icon>
                </grit-suffix-icons>
                <grit-subscript-messages>
                  <span gritValidationErrorTracker
                        gritError
                        id="zip-err-required"
                        for="required">{{ 'pages.paymentCardInformation.form.billingAddress.zip.error.required' |
                    translate }}</span>
                  <span gritValidationErrorTracker
                        gritError
                        id="zip-err-unavailable"
                        for="sixToEightDigits">{{
                    'pages.paymentCardInformation.form.billingAddress.zip.error.formatting' | translate }}</span>
                  <span gritValidationErrorTracker
                        gritError
                        id="zip-err-unavailable"
                        for="zipStateMismatch">
                    {{
                    getZipStateMismatchError(('pages.paymentCardInformation.form.billingAddress.zip.error.invalid' |
                    translate))
                    }}
                  </span>
                </grit-subscript-messages>
              </grit-field>
            </div>
          </div>
        </ng-container>
      </fieldset>
    </form>
  </div>
</ua-apply-page-template>