<footer class="localization"
        *ngIf="(layoutElements$ | async)?.hasFooter">
  <div class="localization__bar">
    <grit-wc-icon class="localization__icon">language</grit-wc-icon>
    <ul class="localization__controls"
        *ngIf="(currentLocalization$ | async) as currentLocalization">
      <li [ngClass]="{
          localization__control: true,
          'localization__control--active':
          currentLocalization === localizations.english
        }"
          (click)="presentLocalizationChoice(localizations.english, 'localizationMenu.controls.englishLabel')"
          [emitLinkClick]>
        {{ 'localizationMenu.controls.englishLabel' | translate }}
      </li>
      <li [ngClass]="{
          localization__control: true,
          'localization__control--active':
          currentLocalization === localizations.spanish
        }"
          (click)="presentLocalizationChoice(localizations.spanish, 'localizationMenu.controls.spanishLabel')"
          [emitLinkClick]>
        {{ 'localizationMenu.controls.spanishLabel' | translate }}
      </li>
    </ul>
  </div>
  <grit-wc-overlay-container class="localization-modal"
                             type="modal"
                             [showOverlay]="presentLocalizationModal"
                             (backdropClicked)="closeLocalizationOverlay()">
    <div class="localization-modal__headline"
         slot="title">
      {{ 'localizationMenu.modal.title' | translate }}
    </div>
    <div class="localization-modal__bodyCopy"
         slot="content-container">
      {{ 'localizationMenu.modal.content' | translate }}
    </div>
    <div class="localization-modal__buttons"
         slot="footer">
      <grit-wc-button class="localization-modal__button"
                      color="primary-light"
                      (click)="closeLocalizationOverlay()">
        {{ 'localizationMenu.modal.buttons.negativeLabel' | translate }}
      </grit-wc-button>
      <grit-wc-button class="localization-modal__button"
                      color="primary"
                      (click)="confirmLocalizationChoice()">
        {{ 'localizationMenu.modal.buttons.affirmativeLabel' | translate }}
      </grit-wc-button>
    </div>
  </grit-wc-overlay-container>
</footer>