@import '~src/shared/ui/src/lib/styleGuides/global';

.terms-sheet {
  padding: pixelToRem(32) pixelToRem(16) pixelToRem(16) pixelToRem(16);

  &__heading {
    @extend .uae-heading;
    margin: 0 0 pixelToRem(7.5) 0;
  }

  &__body-copy {
    @extend .uae-body-copy;
    margin: pixelToRem(7.5) 0;

     ::ng-deep {
        p {
          margin-bottom: pixelToRem(16);

          &:last-of-type {
            margin-bottom: 0;
          }
        }
    }
  }

  &__terms {
    @extend .uae-body-copy;
    margin: pixelToRem(25.5) 0 pixelToRem(24) 0;
    padding-left: pixelToRem(16);
  }

  &__term {
    &:last-of-type {
      margin-bottom: 0;
    }
    margin: 0 0 pixelToRem(10.5) 0;
  }

  &__explicit-agreements {
    border-top: solid pixelToRem(1) $neutral500;
    padding: pixelToRem(24) 0;

    .grit-check-box {
      margin-top: pixelToRem(24);
      
      &:first-of-type {
        margin-top: 0;
      }
    }
  }
}