<ua-apply-page-template *ngIf="incomeForm"
                        [formGroup]="incomeForm"
                        [pageRoute]="pageRoute"
                        (continue)="onContinue()">
  <h1 class="apply-page__heading">{{ 'pages.incomeInformation.heading' | translate }} </h1>
  <div class="apply-page__body-copy">{{ 'pages.incomeInformation.bodyCopy' | translate }}</div>
  <div class="apply-page__form-controls">
    <form [formGroup]="incomeForm">
      <div class="row">
        <div class="col-sm-12">
          <grit-field size="sm">
            <span gritLabel>
              {{ 'pages.incomeInformation.form.monthlyIncome.label' | translate }}
            </span>
            <input gritInput
                   data-test-id="monthly-income-input"
                   id="monthly-income-input"
                   formControlName="monthlyIncome"
                   #monthlyIncome="gritInput"
                   currencyFormat
                   maxlength="9"
                   (blur)="formatMoney(monthlyIncome.value)"
                   autocomplete="off"
                   (keypress)="disallowNonDigitInput($event)"
                   pattern="[0-9,.]*"
                   inputmode="numeric" />
            <grit-prefix-icons [iconDisplayOption]="1">
              <grit-icon gritPrefixIcon>attach_money</grit-icon>
            </grit-prefix-icons>
            <grit-suffix-icons>
              <grit-icon gritSuffixIcon
                         class="success"
                         [visible]="
                !monthlyIncome.isFocused &&
                monthlyIncome.value &&
                !monthlyIncome.isError
              ">done</grit-icon>
              <grit-icon gritSuffixIcon
                         [visible]="monthlyIncome.isError"
                         class="error">warning</grit-icon>
            </grit-suffix-icons>
            <grit-subscript-messages>
              <span gritValidationErrorTracker
                    gritError
                    id="monthly-income-err-required"
                    for="required">{{ 'pages.incomeInformation.form.monthlyIncome.error.required' | translate }}</span>
              <span gritValidationErrorTracker
                    gritError
                    id="monthly-income-err-min"
                    for="minRequirement">{{ 'pages.incomeInformation.form.monthlyIncome.error.min' | translate }}</span>
              <span gritValidationErrorTracker
                    gritError
                    id="monthly-income-err-max"
                    for="maxRequirement">{{ 'pages.incomeInformation.form.monthlyIncome.error.max' | translate }}</span>
            </grit-subscript-messages>
          </grit-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <grit-field size="sm">
            <span gritLabel>{{ 'pages.incomeInformation.form.lastPayDate.label' | translate }}</span>
            <input gritInput
                   data-test-id="last-pay-date"
                   id="last-pay-date"
                   #lastPayDate="gritInput"
                   formControlName="lastPayDate"
                   [pgCalendarInput]="lastPayDatePicker"
                   closeOnBackdropClick="true" />
            <grit-prefix-icons [iconDisplayOption]="1">
              <grit-icon gritPrefixIcon>
                today
              </grit-icon>
            </grit-prefix-icons>
            <grit-suffix-icons>
              <grit-icon id="last-pay-date-icon-checkmark"
                         gritSuffixIcon
                         class="success"
                         [visible]="
                !lastPayDate.isFocused &&
                lastPayDate.value &&
                !lastPayDate.isError
              ">done</grit-icon>
              <grit-icon id="last-pay-date-icon-error"
                         gritSuffixIcon
                         class="error"
                         [visible]="lastPayDate.isError">
                warning
              </grit-icon>
            </grit-suffix-icons>
            <grit-subscript-messages>
              <span id="last-pay-date-err-required"
                    gritValidationErrorTracker
                    gritError
                    for="required">{{ 'pages.incomeInformation.form.lastPayDate.error.required' | translate }}</span>
            </grit-subscript-messages>
          </grit-field>
          <grit-calendar #lastPayDatePicker
                         format="MM/DD/YYYY"
                         (backdropClicked)="lastPayDate.focus(); lastPayDate.blur()"
                         [minDate]="this.lastPayDateMinMaxRule.minDate"
                         [maxDate]="this.lastPayDateMinMaxRule.maxDate">
            <span gritLabel>
              {{ 'pages.incomeInformation.form.lastPayDate.calendarLabel' | translate }}
            </span>
          </grit-calendar>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <grit-field size="sm">
            <span gritLabel>{{ 'pages.incomeInformation.form.nextPayDate.label' | translate }}</span>
            <input gritInput
                   id="next-pay-date"
                   formControlName="nextPayDate"
                   [pgCalendarInput]="nextPayDatePicker"
                   closeOnBackdropClick="true"
                   #nextPayDate="gritInput" />
            <grit-prefix-icons [iconDisplayOption]="1">
              <grit-icon gritPrefixIcon>
                today
              </grit-icon>
            </grit-prefix-icons>
            <grit-suffix-icons>
              <grit-icon id="next-pay-date-icon-checkmark"
                         gritSuffixIcon
                         class="success"
                         [visible]="
                !nextPayDate.isFocused &&
                nextPayDate.value &&
                !nextPayDate.isError
              ">done</grit-icon>
              <grit-icon id="next-pay-date-icon-error"
                         gritSuffixIcon
                         class="error"
                         [visible]="nextPayDate.isError">
                warning
              </grit-icon>
            </grit-suffix-icons>
            <grit-subscript-messages>
              <span id="next-pay-date-err-required"
                    gritValidationErrorTracker
                    gritError
                    for="required">{{ 'pages.incomeInformation.form.nextPayDate.error.required' | translate }}</span>
            </grit-subscript-messages>
          </grit-field>
          <grit-calendar #nextPayDatePicker
                         format="MM/DD/YYYY"
                         (backdropClicked)="nextPayDate.focus(); nextPayDate.blur()"
                         [minDate]="this.nextPayDateMinMaxRule.minDate"
                         [maxDate]="this.nextPayDateMinMaxRule.maxDate">
            <span gritLabel>
              {{ 'pages.incomeInformation.form.nextPayDate.calendarLabel' | translate }}
            </span>
          </grit-calendar>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <ng-container>
            <grit-wc-select id="payment-frequency"
                            value="{{ getFormValue(incomeFormField.paymentFrequency) }}"
                            label="{{ 'pages.incomeInformation.form.paymentFrequency.label' | translate }}"
                            #paymentFrequency
                            (gritSelectChange)="
              paymentFrequencySelected(paymentFrequency.value)
            "
                            (focusin)="paymentFrequencyFocused()"
                            (focusout)="paymentFrequencyBlurred()"
                            [formElementEngagement]>
              <option selected
                      disabled
                      value=""></option>
              <option *ngFor="let freq of paymentOptions"
                      value="{{ freq.id }}"
                      id="{{ freq.id }}">
                {{ 'pages.incomeInformation.form.paymentFrequency.options.' + freq.id | translate }}
              </option>
            </grit-wc-select>
            <span *ngIf="showFrequencyHint()"
                  [emitLinkClick]
                  class="select-hint"
                  [ngClass]="{
              'had-focus': paymentFrequencyElementHasBeenFocused,
              focused: paymentFrequencyElementHasFocus
            }">{{ 'pages.incomeInformation.form.paymentFrequency.hint' | translate }}</span>
          </ng-container>
        </div>
      </div>
    </form>
  </div>
</ua-apply-page-template>